@tailwind base;
@tailwind components;
@tailwind utilities;


.busyDay {
  background: red !important;
  display: flex !important;
  color: white !important;
  flex-wrap: wrap !important;
  text-align: center !important;
}